# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
*.pyt
*.pyi

# Virtual environments
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.env
.env.*

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# vector db loc
qdrant_data/